.container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-black-jack-row-1, .flex-black-jack-row-2{
    display: flex;
    border: 1px solid black;
    padding:  10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    height: 325;
    width: 255;
}
.flex-black-jack-row-1{
    background: url('https://www.hdbacks.com/assets/thumbnails/hd440.jpg') center;
    color: #ffffff;
}